.App {
  margin-top: 100px;
  border-radius: 4px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: white;
  width: 700px;
  height: 900px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
