.message {
  padding: 10px;
  margin: 10px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: whitesmoke;
  border-radius: 4px;
}

.message-header {
  color: #666;
  text-align: end;
}
