.response {
  display: flex;
  flex-direction: column;
  background: rgb(215, 239, 246);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.response-header {
  color: #666;
  text-align: end;
}
