.responses-list {
  width: 70%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.response-btn {
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 3px;
}

.response-input-container {
  display: flex;
  justify-content: center;
}

.response-input {
  width: 85%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.response-input-btn {
  margin-left: 10px;
}
