.message-input-container {
  margin-top: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.message-input {
  width: 70%;
  height: 60px;
  padding: 12px 20px;
  margin: 0px 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
